.form-wrapper {
  background-color: #fff;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #030303;

  width: 60%;
  max-width: 60%;

  box-shadow: 10px 10px 10px rgba(146, 11, 131, 0.5);
  z-index: 5;
}

.form-wrapper .form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.form-wrapper .form-group select {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;

  outline: none;
  color: #030303;

  margin-bottom: 1em;
  width: 100%;
}

.form-wrapper .form-group select:focus {
  border: 1px solid #00aaff;
}
