.cards-wrapper {
  background-color: #fff;
  width: 80%;
  height: 90%;

  color: #000;
  border-radius: 10px;
  padding: 1.8em 3em;

  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2);
}

.cards-wrapper .btn-add {
  background-color: #00aaff;
  color: #fff;
  border-radius: 6px;
  padding: 0.6em 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: none;

  transition: all ease-in-out 0.25s;
}

.cards-wrapper .btn-add:hover {
  background-color: #00aaff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.cards-wrapper table.cards {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.cards-wrapper table.cards tr {
  border-bottom: 0.05em solid rgba(0, 0, 0, 0.1);
}

.cards-wrapper table.cards tr th {
  padding: 0.5em;
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.08em;
  text-transform: lowercase;
}

.cards-wrapper table.cards .card-name {
  font-weight: 600;
  font-size: 1em;
  text-transform: capitalize;
}

.cards-wrapper table.cards .card-rarity span {
  padding: 0.4em 0.8em;
  background-color: rgba(184, 135, 11, 0.4);
  color: rgba(184, 135, 11, 1);
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
  border-radius: 2em;
  margin: 0.8em 0;
}

.cards-wrapper table.cards .card-type {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.cards-wrapper table.cards .card-cost {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.cards-wrapper table.cards .card-text {
  font-size: 0.8em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.cards-wrapper table.cards .card-date {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
}

.cards-wrapper table.cards .btn-edit {
  background-color: #dbefbc;
  color: #37392e;
  border-radius: 10px;
  padding: 0.4em 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  transition: all ease-in-out 0.25s;
  border: none;
}

.cards-wrapper table.cards .btn-edit:hover {
  background-color: #dbefbc;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.cards-wrapper table.cards .btn-delete {
  background-color: #ff0000;
  color: #fff;
  border-radius: 10px;
  padding: 0.4em 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  transition: all ease-in-out 0.25s;
  border: none;
}

.cards-wrapper table.cards .btn-delete:hover {
  background-color: #ff0000;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
